@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,200&family=Mandali&family=Rubik:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(10, 65, 183);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: antiquewhite;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.botones {
    background-color: transparent;
    border: 0;
    color: antiquewhite;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
}

.botones.activo {
    background-color: white;
    color: rgb(10, 65, 183);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.botones.activo::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 white;
}

.botones.activo::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 white;
}

.botonCarrito {
    margin-top: 50px;
}

.numero {
    background-color: black;
    color: white;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}

.footer {
    color: whitesmoke;
    font-size: 0.85rem;
}

main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.tituloPrincipal {
    color: black;
    margin-bottom: 2rem;
}

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.imagenProducto {
    max-width: 100%;
    border-radius: 1rem;
}

.detallesProducto {
    background-color: rgb(10, 65, 183);
    color: antiquewhite;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.tituloProducto {
    font-size: 1rem;
}

.botonAgregar {
    border: 0;
    background-color: white;
    color: rgb(10, 65, 183);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid black;
}

.botonAgregar:hover {
    background-color: rgb(10, 65, 183);
    color: white;
    transition: 2s;
}

.contenedorCarrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carritoVacio,
.carritoCompra {
    color: rgb(10, 65, 183);
    margin-top: 40px;
}

.productosCarrito {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 1.5rem;
}

.productoCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 65, 183);
    color: white;
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.imagenCarrito {
    width: 4rem;
    border-radius: 1rem;
}

.productoCarrito small {
    font-size: 0.75rem;
}

.eliminarProducto {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.accionesCarrito {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.vaciarCarrito {
    border: 0;
    margin-top: 20px;
    background-color: rgb(10, 65, 183);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.derechaCarrito {
    display: flex;
}

.totalCarrito {
    display: flex;
    margin-top: 5px;
    background-color: black;
    padding: 1rem;
    color: rgb(10, 65, 183);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}


.comprarCarrito {
    border: 0;
    background-color: rgb(10, 65, 183);
    padding: 1rem;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}

.desabilitado {
    display: none;
}
